@import '../colors';

button {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: @primary;
  background: white;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::after{
    // remove wechat default border
    border: none;
  }

  &.primary {
    color: white;
    background: @primary;
  }

  &.warning {
    color: white;
    background: @warning;
  }

  &[disabled] {
    color: white;
    background: @disabled;
  }

  &.no-radius {
    border-radius: 0;
  }

  &.small {
    width: 80px;
    height: 30px;
    line-height: 30px;
  }

  &.large {
    .no-radius();

    width: 100vw;
    height: 50px;
    line-height: 50px;
  }

  &.bordered {
    box-shadow:0 0 0 1px @primary inset;
  }

  &.narrow {
    width: 100px;
  }
}
