.page {
  padding: 0 0 200px;
  width: auto;
  min-height: calc(100vh - 200px);
  background: #f5f5f5;

  .container {
    background: white;
    width: 100%;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .container-single-section {
    .container();

    padding: 15px;
  }

  .image-container {
    .container();

    display: flex;

    image {
      width: 100%;
    }
  }

  .section {
    padding: 15px;

    &:not(:first-child) {
      border-top: solid 0.5px #EAEAEA;
    }
  }

  .section-single-line {
    .section();

    padding: 13px 15px 12px;
  }
}
