@import './mixins';
@import './layout';
@import './colors';
@import './flex';
@import './components/icon';
@import './components/text';
@import './components/button';
@import './components/background-image';
@import './components/info-table';
@import './components/footer';
@import './components/modal';

body {
  font-size: 14px;
  color: @textPrimary;
}

input {
  height:20px;
  min-height: 20px;
  overflow: visible;
}

.divider {
  border-bottom: solid 0.5px #EAEAEA;
}

.divider-dashed {
  .divider();

  border-bottom-style: dashed;
}

.margined-vertical {
  margin: 15px 0;
}

.margined-top {
  margin-top: 15px;
}

.margined-bottom {
  margin-bottom: 15px;
}

.bordered {
  border: 1px solid #EAEAEA;

  &.selected {
    border: 2px solid #aad3f8;
  }

  &.disabled {
    background: #ddd;
  }
}

.title {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}

.sub-title {
  font-size: 12px;
  color: @textSecondary;
}

.helper-text {
  &.large {
    font-size: 18px;
  }
}

.topic {
  font-weight: bolder;
  font-size: 20px;

  .max-line-num-2();
}
